---
import Layout from '../layouts/Layout.astro';

import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Card from '../components/Card.astro';
import CardsContainer from '../components/CardsContainer.astro'
import GetStartedButton from "../components/GetStartedButton.astro";


import animationIcon from '../assets/icon-animation.svg'
import businessIcon from '../assets/icon-business.svg'
import cryptoIcon from '../assets/icon-crypto.svg'
import designIcon from '../assets/icon-design.svg'
import photographyIcon from '../assets/icon-photography.svg'
---

<Layout title="Welcome to Astro.">
	<main class="max-w-[1110px]">
		<Header />

		<Hero />

		
		<CardsContainer>
		<div class="rounded-md bg-deep-blue text-white h-[120px] mx-auto w-full p-6 font-black text-left text-2xl bg-gradient-to-b from-gradient-orange to-gradient-pink md:min-h-[259px]">
			<h2 >
				Check out our most popular courses!
			</h2>
		</div>
		<Card 
			icon={animationIcon}
			alt="Animation course icon"
			title="Animation"
			text="Learn the latest animation techniques to create stunning motion design and captivate your audience."
		/>

		<Card 
			icon={designIcon}
			alt="Design course icon"
			title="Design"
			text="Create beautiful, usable interfaces to help shape the future of how the web looks."
		/>

		<Card 
			icon={photographyIcon}
			alt="Photography course icon"
			title="Photography"
			text="Explore critical fundamentals like lighting, composition, and focus to capture exceptional photos."
		/>

		<Card 
			icon={cryptoIcon}
			alt="Crypto course icon"
			title="Crypto"
			text="All you need to know to get started investing in crypto. Go from beginner to advanced with 54 hour course."
		/>

		<Card 
			icon={businessIcon}
			alt="Business course icon"
			title="Business"
			text="A step-by-step playbook to help you start, scale, and sustain your business without outside investment."
		/>
		</CardsContainer>

	</main>

	<footer class="w-full bg-deep-blue flex flex-row justify-between px-4 py-9 content-center mt-20">
		<a href="/">
			<img src="../src/assets/logo-light.svg" alt="">
		</a>
		<GetStartedButton style="text-white bg-gradient-to-b from-gradient-blue to-gradient-pink text-bold py-3"/>
	</footer>
</Layout>


